body {
  background-color: white;
}
/* Navbar container */
.navbar {
  overflow: auto;
  background-color: lightGrey;
  font-family: Arial;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

.dropdown1{
float: right;
overflow: hidden;
}
/* Dropdown button */
.dropdown .drop_btn {
  font-size: 20px;
  border: none;
  outline: none;
  color: Black;
  padding: 10px 35px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown1 .drop_btn {
  font-size: 20px;
  border: none;
  outline: none;
  color: Black;
  padding: 10px 40px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */

}

/* Add a red background color to navbar links on hover */
.dropdown:hover  {
  background-color: red;
}
.dropdown1:hover  {
  background-color: red;
}

/* Style the search field */
form.search input{
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
}

/* Style the submit button */
form.search button {
  width: 5%;
  padding: 10px;
  background: grey;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

div.align {
padding-left:700px;padding-right:0px;
padding-top:75px;padding-bottom:0px;
margin:auto;
}

h1{
font-size: 20px;
font-family: Arial;
padding-left:50px
}

