body {
  background-color: white;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: lightGrey;
  font-family: Arial;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

.dropdown1{
float: right;
overflow: hidden;
}

.dropdown1 a {
  padding: 0px 40px;
  text-decoration: none;
}

.dropdown .drop_btn {
  font-size: 20px;
  border: none;
  outline: none;
  color: Black;
  padding: 10px 35px;
  background-color: inherit;
  margin: 0;
}

.dropdown1 .drop_btn {
  font-size: 20px;
  border: none;
  outline: none;
  color: Black;
  padding: 10px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

/* Add a red background color to navbar links on hover */
.dropdown1:hover  {
  background-color: red;
}

.form {
padding-left: 650px;
}

/* Style the search field */
form.search input{
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
}

/* Style the submit button */
form.search button {
  background: grey;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

#align {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10px;
  background-color: white;
  padding: 20px 50px;
  grid-column-gap: 160px;
}

h1{
font-size: 16px;
}

h2{
font-size: 20px;
padding-left:70px;
}

.grid-image-price-button {
  display: grid;
  grid-template-row: auto auto auto;
  gap: 0px;
  background-color: white;
  padding: 0px;
}

.flex-p{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  background-color: white;
  padding: 0px;
}

.flex-p .Sub-button {
  align-self: center;
}

.Sub-button .button-cart {
  cursor: pointer;
  margin-top: 0px;
  float: right;
  text-align: center;
}

h3{
font-size: 12px;
padding-left:20px;
}

.filter{
font-weight:bold;
}